<header>
    <h1>Dashboard</h1>
</header>
<section class="images-container">
    <div class="image-box">
        <div *ngFor="let item of imagesArray">
            <div class="data-container">
                <a [routerLink]="['/image', item.date]">
                    <img class="image" [src]="item.url">
                </a><br>
                <span class="small-text">{{item.date}}</span><br>
                <span class="small-text">{{item.title}}</span>
            </div>
        </div>
    </div>
</section>
